#container {
    display: inline-grid;
    height: min(1000px);
    width: min(1000px);
    grid-template-columns: repeat(16, 75px);
    grid-template-rows: repeat(16, 75px);
    margin: auto;
}

body {
    display: flex;
    min-height:100vh;
    margin: 0;
}