#container {
    display: inline-grid;
    height: min(1200px);
    width: min(1200px);
    grid-template-columns: repeat(16, 75px);
    grid-template-rows: repeat(16, 75px);
}

body {
    display: flex;
    align-content: center;
    justify-content: center;
}